body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bg {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 388px;
    height: 684px;
    background-color: black;
    border-radius: 10px;
    margin-top: 75px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    row-gap: 5px;
    background-color: black;
    margin-bottom: 15px;
}

.button {
    display: flex;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s;
}

.inner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    transition: .1s;
}

.number {
    background: linear-gradient(-45deg, #5A5A5A, #333333, #5A5A5A);
}

.inner-number {
    background-color: #333333;
    font-size: 27px;
}

.button:hover .button{
    scale: 1.15;
    transition: .1s;
}

.button:hover .inner-button {
    background-color: #717171;
    scale: 1.15;
    transition: .1s;
}

.symbol {
    background: linear-gradient(-45deg, #8e8e8e, #5e5e5e, #8e8e8e);
}

.inner-symbol {
    background-color: #5e5e5e;
    font-size: 32px;
}

.symbol:hover .symbol{
    scale: 1.15;
    transition: .1s;
}

.symbol:hover .inner-symbol {
    background-color: #a1a2a2;
    scale: 1.15;
    transition: .1s;
}

#del {
    height: 35px;
    margin-right: 2px;
}

.operator {
    background: linear-gradient(-45deg, #f9af00, #ff9201, #f9af00);
}

.inner-operator {
    background-color: #ff9300;
    font-size: 32px;
}

.operator:hover .operator {
    scale: 1.15;
    transition: .1s;
}

.operator:hover .inner-operator {
    background-color: #ffc803;
    scale: 1.15;
    transition: .1s;
}