* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bg {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 388px;
    height: 684px;
    background-color: black;
    border-radius: 10px;
    margin-top: 75px;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    margin-bottom: 10px;
}

#upper-input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5d5d5d;
    font-size: 30px;
    width: 350px;
    text-align: right;
    overflow: auto;
}

#input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 60px;
    width: 350px;
    text-align: right;
    overflow: auto;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    row-gap: 5px;
    background-color: black;
    margin-bottom: 15px;
}

.button {
    display: flex;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s;
}

.inner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    transition: .1s;
}

.number {
    background: linear-gradient(-45deg, #5A5A5A, #333333, #5A5A5A);
    transition: scale .1s ease;
}

.inner-number {
    background-color: #333333;
    font-size: 27px;
    transition: all .1s ease;
}

.number:hover {
    scale: 1.07;
}

.number:hover .inner-number {
    background-color: #717171;
    scale: 1.07;
}

.symbol {
    background: linear-gradient(-45deg, #8e8e8e, #5e5e5e, #8e8e8e);
    transition: scale .1s ease;
}

.inner-symbol {
    background-color: #5e5e5e;
    font-size: 32px;
    transition: all .1s ease;
}

.symbol:hover {
    scale: 1.07;
}

.symbol:hover .inner-symbol {
    background-color: #a1a2a2;
    scale: 1.07;
}

#del {
    height: 35px;
    margin-right: 2px;
}

.operator {
    background: linear-gradient(-45deg, #f9af00, #ff9201, #f9af00);
    transition: scale .1s ease;
}

.inner-operator {
    background-color: #ff9300;
    font-size: 32px;
    transition: all .1s ease;
}

.operator:hover {
    scale: 1.07;
}

.operator:hover .inner-operator {
    background-color: #ffc803;
    scale: 1.07;
}